@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	color: red;
}

a, button {
	cursor: pointer;
}

.container {
	max-width: 1290px;
	width: 100%;
	margin: 0 auto;
}


/* HEADER */
.header {
	height: 140px;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: white;
}

.header .container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_logo {

}

.header_content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header_info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 28px;
}

.header_networks {
	display: flex;
	align-items: center;
	gap: 12px;
}

.header_networks_title {
	font-family: "Inter", sans-serif;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6D6D6D;
}

.header_networks_list {
	display: flex;
	gap: 10px;
}

.header_numbers_phone {
	display: flex;
	gap: 19px;
}

.header_numbers_phone_link {
	display: flex;
	font-family: "Inter", sans-serif;
	font-size: 17px;
	line-height: 21px;
	font-weight: bold;
	color: #1776BA;
}

.header_numbers_phone_icon {
	width: 15px;
	height: 20px;
}

.header_buttons {
	display: flex;
	gap: 5px;
}

.header_button {
	font-size: 14px;
	color: #2A2A2A;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #ACACAC;
	padding: 14px 20px;
	border-radius: 46px;
	background-color: transparent;
}

.header_buttons_link {
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	border: 1px solid #ACACAC;
}

.header_button_icon {
	width: 17px;
	height: 17px;
}

.header_navigation {
	display: flex;
	gap: 65px;
}

.header_line {
	background-color: black;
	opacity: 0.23;
	width: 100%;
	height: 1px;
	margin: 14px 0;
}

.header_navigation_link {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #2A2A2A;
	font-weight: bold;
	text-transform: uppercase;
}


/* INTRO */
.intro {
	position: relative;
	height: 763px;
}

.intro .container {
	position: relative;
}

.intro_decoration_left {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.intro_triangles {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.intro_decoration_right {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.intro_title {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-size: 57px;
	text-transform: uppercase;
	padding-top: 30px;
	color: #2A2A2A;
	margin-bottom: 17px;
}

.intro_info {
	display: flex;
	gap: 22px;
}

.intro_features {
	display: grid;
	gap: 13px;
}

.intro_feature {
	width: 563px;
	display: flex;
	align-items: center;
	padding: 20px 50px 20px 12px;
	border-radius: 20px;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.07);
}

.intro_feature_icon {
	margin-right: 26px;
	box-shadow: 8px 8px 16px 0px rgba(54, 99, 114, 0.12);
	border-radius: 100%;
}

.intro_feature_text {
	font-size: 23px;
	line-height: 110%;
	color: #262626;
	font-family: "Inter", sans-serif;
}

.intro_description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.intro_description_block {
	width: 331px;
	height: 92px;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.07);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px;
	background-color: white;
}

.intro_description_title {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 130%;
	margin-bottom: 4px;
	color: #2A2A2A;
}

.intro_description_text {
	font-family: "Inter", sans-serif;
	font-size: 15px;
	line-height: 120%;
	color: #2A2A2A;
}

.intro_video {
	width: 191px;
	height: 191px;
	border-radius: 100%;
	object-fit: cover;
}

.intro_request {
	width: 694px;
	height: 262px;
	margin-top: 26px;
	padding: 25px;
	border-radius: 20px;
	background: linear-gradient(180deg,rgba(216, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 63%);
	display: flex;
	justify-content: space-between;
	z-index: 2;
	position: relative;
	box-shadow: 23px 32px 35px 0px rgba(0, 0, 0, 0.14);
}

.intro_request_info {
	width: 320px;
}

.intro_request_title {
	font-size: 40px;
	font-family: "Bebas Neue", sans-serif;
	line-height: 130%;
	color: #2A2A2A;
	text-transform: uppercase;
}

.intro_request_text {
	font-family: "Inter", sans-serif;
	font-size: 19px;
	line-height: 120%;
	color: #262626;
	margin-bottom: 20px;
}

.intro_request_text_highlighting {
	font-weight: bold;
	color: #2983D6;
}

.intro_request_approval {
	display: flex;
	align-items: flex-start;
}

.intro_request_approval_icon {
	margin-right: 13px;
	margin-top: 3px;
}

.intro_request_approval_text {
	font-size: 14px;
	line-height: 110%;
	color: #404040;
	opacity: 0.8;
	font-family: "Inter", sans-serif;
}

.intro_request_form {
	display: grid;
	gap: 18px;
	width: 312px;
}

.intro_request_form_input {
	height: 58px;
	padding-left: 30px;
	background-color: white;
	border: 1px solid #d6eef9;
	border-radius: 29px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 120%;
	color: #2A2A2A;
}

.intro_request_form_input::placeholder {
	color: #676767;
}

.intro_request_form_button {
	height: 58px;
	border-radius: 29px;
	font-weight: 600;
	background-color: #29A8DF;
	border: none;
	font-size: 18px;
	line-height: 120%;
	color: white;
	font-family: "Inter", sans-serif;
}

.intro_image {
	position: absolute;
	top: 0;
	right: -110px;
	z-index: 0;
}


/* PROBLEMS SOLVING */
.problems_solving {
	width: 100%;
	height: 624px;
	position: relative;
	background-image: url("../images/problems_solving_background.png");
}

.problems_solving_white_arrows {
	position: absolute;
	top: 315px;
	left: 5px;
}

.problems_solving_blue_arrows {
	position: absolute;
	top: 80px;
	right: 80px;
}

.problems_solving_title {
	margin-top: 60px;
	font-family: "Bebas Neue", sans-serif;
	font-size: 60px;
	color: #2A2A2A;
	text-align: center;
	line-height: 100%;
	letter-spacing: 0.02em;
	margin-bottom: 50px;
}

.problems_solving_list {
	width: 100%;
	height: 265px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/problems_solving_line.svg");
}

.problems_solving_item:nth-child(1) {
	top: 15px;
	left: -25px;
}

.problems_solving_item:nth-child(2) {
	top: 160px;
	left: 150px;
}

.problems_solving_item:nth-child(3) {
	top: 50px;
	left: 330px;
}

.problems_solving_item:nth-child(4) {
	top: 150px;
	left: 485px;
}

.problems_solving_item:nth-child(5) {
	top: 8px;
	right: 510px;
}

.problems_solving_item:nth-child(6) {
	top: 150px;
	right: 340px;
}

.problems_solving_item:nth-child(7) {
	top: 7px;
	right: 150px;
}


.problems_solving_item:nth-child(8) {
	top: 190px;
	right: -50px;
}

.problems_solving_item {
	width: 125px;
	height: 125px;
	background-color: white;
	position: absolute;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 13px 21px 28px 0px rgba(51, 52, 53, 0.25);
}

.problems_solving_dark_blue {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: absolute;
	background: conic-gradient(#29A8DF 20%, transparent 0);
	transform: rotate(180deg);
}

.problems_solving_light_blue {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: absolute;
	background: conic-gradient(#e5f5fb 20%, transparent 0);
	transform: rotate(252deg);
}

.problems_solving_container {
	width: 109px;
	height: 109px;
	position: absolute;
	background-color: white;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.problems_solving_icon {

}

.problems_solving_item_text {
	width: 190px;
	text-align: center;
	color: #262626;
	font-family: "Inter", sans-serif;
	font-size: 22px;
	line-height: 110%;
	position: absolute;
	bottom: -60px;
	transform-origin: top left;
}

.problems_solving_item_text_3_lines {
	bottom: -80px;
}

.problems_solving_item_large_text {
	width: 266px;
	bottom: -80px;
}


/* STATISTICS */
.statistics {
	position: relative;
	background-image: url("../images/statistics_background.png");
	padding-bottom: 90px;
}

.statistics_blue_arrows {
	position: absolute;
	top: 466px;
	left: 136px;
}

.statistics_title {
	font-family: "Bebas Neue", sans-serif;
	font-size: 60px;
	line-height: 100%;
	color: #2A2A2A;
	margin-top: 43px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 32px;
}

.statistics_title_highlighting {
	color: #1776BA;
}

.statistics .container {
	display: flex;
	justify-content: space-between;
	gap: 42px;
}

.statistics_list {
	display: grid;
	grid-template-columns: repeat(3, 223px);
	column-gap: 30px;
	row-gap: 23px;
	list-style: none;
}

.statistics_item {
	position: relative;
	z-index: 2;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 8px 27px 0 rgba(0, 0, 0, 0.13);
}

.statistics_item_icon {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.statistics_item_circle {
	width: 65px;
	height: 65px;
	content: "";
	display: block;
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #F5F5F5;
	border-radius: 100%;
}

.statistics_item_title {
	position: absolute;
	top: 95px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 24px;
	line-height: 31px;
	font-weight: 500;
	color: #232323;
	font-family: "Inter", sans-serif;
}

.statistics_item_line {
	position: absolute;
	top: 131px;
	left: 50%;
	width: 64px;
	height: 3px;
	background-color: #29A8DE;
	transform: translateX(-50%);
}

.statistics_item_description {
	width: 200px;
	position: absolute;
	top: 144px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 22px;
	line-height: 110%;
	color: #262626;
	font-family: "Inter", sans-serif;
	text-align: center;
}

.statistics_info {
	position: relative;
}

.statistics_photo {
	width: 519px;
	height: 518px;
	position: relative;
	border-radius: 0 0 50% 0;
	z-index: 2;
}

.statistics_gray_points_square {
	position: absolute;
	bottom: -50px;
	left: -45px;
	z-index: 1;
}

.statistics_blue_square {
	position: absolute;
	top: -33px;
	right: -40px;
}

.statistics_warranty {

}

.statistics_warranty_block {
	width: 195px;
	height: 195px;
	position: absolute;
	right: -34px;
	bottom: -34px;
	z-index: 2;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border-radius: 100%;
	text-align: center;
	box-shadow: 13px 13px 13px 0px rgba(0, 0, 0, 0.08);
}

.statistics_warranty_circle {
	position: absolute;
	width: 228px;
	height: 228px;
	right: -51px;
	bottom: -51px;
	background-color: white;
	border-radius: 100%;
	opacity: 0.38;
	content: "";
	z-index: 1;
	display: block;
}

.statistics_warranty_icon {
	width: 39px;
	height: 52px;
	margin-top: 11px;
}

.statistics_warranty_title {
	font-size: 33px;
	line-height: 110%;
	color: #2A2A2A;
	font-family: "Inter", sans-serif;
	font-weight: bold;
}

.statistics_warranty_text {
	text-transform: lowercase;
	font-size: 22px;
	line-height: 110%;
	color: #2A2A2A;
	font-family: "Inter", sans-serif;
	font-weight: bold;
}


/* SERVICES */
.services {
	padding-top: 119px;
	padding-bottom: 128px;
	background-image: url("../images/services_background.png");
}

.services_title {
	font-family: "Bebas Neue", sans-serif;
	font-size: 80px;
	line-height: 110%;
	font-weight: bold;
	text-align: center;
	letter-spacing: .02em;
	text-transform: uppercase;
	color: white;
	margin-bottom: 30px;
}

.services_list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 360px);
	gap: 30px;
}

.service {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 1px solid white;
}

.service_icon {
	margin-bottom: 10px;
}

.service_title {
	font-size: 24px;
	line-height: 110%;
	color: white;
	font-weight: bold;
	font-family: "Inter", sans-serif;
	text-align: center;
}

.service_link {
	margin-top: 20px;
}

.service_link_block {
	width: 207px;
	height: 52px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
	border-radius: 26px;
}

.service_link_text {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: white;
	line-height: 120%;
}

.service_link_icon {
	width: 17px;
	height: 17px;
}


/* FEATURES */
.features {
	margin-top: 70px;
}

.features_content .container {
	display: flex;
	position: relative;
	gap: 50px;
	margin-bottom: 50px;
}

.features_block {

}

.features_title {
	font-size: 67px;
	line-height: 100%;
	font-family: "Bebas Neue", sans-serif;
	letter-spacing: .02em;
	color: #2A2A2A;
	margin-bottom: 12px;
}

.features_text {
	font-size: 18px;
	line-height: 130%;
	color: #2A2A2A;
	font-family: "Inter", sans-serif;
}

.features_blue_arrows {
	position: absolute;
	top: -145px;
	right: -80px;
}

.features_image {
	border-radius: 0 0 150px 0;
}

.features_list {
	list-style: none;
	display: grid;
	position: relative;
	grid-template-columns: repeat(4, 1fr);
	gap: 31px;
}

.feature_blue_square {
	position: absolute;
	top: 92px;
	left: -71px;
}

.feature {
	width: 300px;
	height: 520px;
	perspective: 1000px;
	position: relative;
}

.feature_inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.feature:hover .feature_inner {
	transform: rotateY(-180deg);
}

.feature:hover .feature_title {
	color: #1776BA;
}

.feature_front, .feature_back {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
	backface-visibility: hidden;
}

.feature_front {
	background-color: white;
	border-radius: 0 80px 20px 20px;
	box-shadow: -8px 33px 31px 0 rgba(0, 0, 0, 0.12);
}

.feature_back {
	background-color: white;
	transform: rotateY(180deg);
	border-radius: 60px 0 20px 20px;
	box-shadow: -8px 33px 31px 0 rgba(0, 0, 0, 0.12);
}

.feature_flip_icon {
	position: absolute;
	top: 0;
	right: 0;
}

.feature_image {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 80px 0 0;
}

.feature_text {
	font-size: 20px;
	line-height: 160%;
	color: #2A2A2A;
	text-align: left;
	font-family: "Inter", sans-serif;
}

.feature_title_block {
	height: 80px;
	width: 260px;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feature_title {
	font-size: 22px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	color: #2A2A2A;
	transition: all .5s linear;
}